*{
margin: 0;
padding: 0;
font-family: 'Arial', sans-serif;
box-sizing: border-box;
}
body{
    background: #16271c;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
.QuizApp{
    background: #16271c;
    width: 90%;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 30px; 
}
.app h1{
    font-weight: 25px;
    color: black;
    font-weight: 600;
    border-bottom: 1px;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
 .app h2 {
    font-size: 18px;
    color: black;
    font-weight: 600;
    width: 50%;
    margin:  100px auto;
    padding: 100px ;
 }
 .start-button-container{
    display: block;
    margin: auto;
    font-weight: bold;
 }
 
.btn{
    background: #3B905C;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:diabled{
    cursor: no-drop;
}

#next-btn{
    background: grey;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}



.nav-link{
    align-items: center;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.navbar {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 12px 6px;
    text-align: left;
    color: white;
    background-color: #336752;
    display: flex;
}


.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-title{
    position: absolute;
    ;
}
  
  .navbar-brand {
  font-weight: bold;
  
  }
  
  .navbar-nav {
    display: flex;
  }
  
a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(86, 154, 86);
  }
  footer {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #336752;
    padding: 20px;
    color: white;
    margin-top: auto;
    align-content: center;

}
.correct{
    background: teal;
}
.incorrect{
    background: red;
}
