body{
    background-color: #3C8E5C;

}
.navbar-brand mb-0 h1{
    display: flex;
    font-weight: bold;
    font-size: 40pxx;
    border: solid;
    outline: solid;
    color: black;
    padding: 14px 16px;
    background-color: white;
    font-family: 16px;
    margin: 0;
    align-items: center;
}


.question-box {
    background-color: #16271c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.options-box {
    background-color: #16271c;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


